@page "/ProgramEntries"
@using FitnessApp.Database.Models
@rendermode InteractiveServer


<FluentAccordionItem Heading="" Expanded="true">
    <FluentIcon Value="@(new Icons.Regular.Size20.FilterAdd())" Color="@Color.Neutral" Slot="start" />
    <FluentGrid Spacing="1" Justify="JustifyContent.FlexStart" Style="padding: 10px;">
        <FluentGridItem xs="12" sm="6" md="4">
            <FluentTextField @bind-Value=_TypeFilterProgram Label="Workout name"></FluentTextField>
        </FluentGridItem>
    </FluentGrid>
    <div style="height: 484px; overflow:auto;" tabindex="-1">
        <FluentDataGrid @ref="dataGridProgramEntry"
                        Items="ExercisesProgramEntry"
                        RefreshItems="RefreshItemsAsyncProgramEntry"
                        RowSize="DataGridRowSize.Small"
                        GenerateHeader="GenerateHeaderOption.Sticky"
                        TGridItem="ExerciseModel"
                        Loading="loadingProgram"
                        Pagination="paginationProgramEntry">
            <PropertyColumn Property="@(c => c!.Type)" Sortable="true" />
            <PropertyColumn Property="@(c => c!.Category)" Sortable="true" />
            <PropertyColumn Property="@(c => c!.Exercise)" Sortable="true" />
        </FluentDataGrid>
    </div>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton IconStart="@(new Icons.Regular.Size16.Broom())"
                      Disabled="loadingProgram"
                        OnClick="ClearFilters">
            Clear
        </FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                        Appearance="Appearance.Accent"
                      Loading="loadingProgram"
                        OnClick="DataGridRefreshDataAsyncProgramEntry">
            Create workout
        </FluentButton>
    </FluentStack>
</FluentAccordionItem>

<FluentAccordion>
    <FluentAccordionItem Heading="Filter(s)" Expanded="true">
        <FluentIcon Value="@(new Icons.Regular.Size20.FilterAdd())" Color="@Color.Neutral" Slot="start" />
        <FluentGrid Spacing="1" Justify="JustifyContent.FlexStart" Style="padding: 10px;">
            <FluentGridItem xs="12" sm="6" md="4">
                <FluentTextField @bind-Value=_TypeFilterProgram Label="Filter according to type"></FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="6" md="4">
                <FluentTextField @bind-Value=_CategoryFilterProgram Label="Filter according to category"></FluentTextField>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="6" md="4">
                <FluentTextField @bind-Value=_ExerciseFilterProgram Label="Filter according to exercise"></FluentTextField>
            </FluentGridItem>
        </FluentGrid>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
            <FluentButton IconStart="@(new Icons.Regular.Size16.Broom())"
                          Disabled="loadingProgram"
                          OnClick="ClearFilters">
                Clear
            </FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                          Appearance="Appearance.Accent"
                          Loading="loadingProgram"
                          OnClick="DataGridRefreshDataAsyncProgramEntry">
                Search
            </FluentButton>
        </FluentStack>
    </FluentAccordionItem>
</FluentAccordion>
<br />
<div style="height: 484px; overflow:auto;" tabindex="-1">
    <FluentDataGrid @ref="dataGridProgramEntry"
                    Items="ExercisesProgramEntry"
                    RefreshItems="RefreshItemsAsyncProgramEntry"
                    OnRowDoubleClick="@(()=>Console.WriteLine("Row double clicked!"))"
                    RowSize="DataGridRowSize.Small"
                    GenerateHeader="GenerateHeaderOption.Sticky"
                    TGridItem="ExerciseModel"
                    Loading="loadingProgram"
                    Pagination="paginationProgramEntry">
        <PropertyColumn Property="@(c => c!.Type)" Sortable="true" />
        <PropertyColumn Property="@(c => c!.Category)" Sortable="true" />
        <PropertyColumn Property="@(c => c!.Exercise)" Sortable="true" />
        <PropertyColumn Title="Duration" Property="@(c => c!.DefaultDuration)" Tooltip="true" />
        <PropertyColumn Property="@(c => c!.Description)" />
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => Console.WriteLine("Edit clicked"))" />
            <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => Delete(context.Id))" />
        </TemplateColumn>
    </FluentDataGrid>
</div>
<FluentPaginator State="@paginationProgramEntry" />
